*{
    margin: 0pt;
    padding: 0pt;
}
body{
    width: 99vw;
    display:flex;
    justify-content: center;
    font-family: 'Roboto';
}
 
.container{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
    width:100% !important;
    height: 70px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
}
header span{
    font-family:'Baloo Chettan' !important;   
    font-style: normal;
    font-weight: normal;
    font-size: 48.6076px;
    line-height: 70px;
    text-align: center;
    color: white; 
    margin-left: 15px;
    margin-right: 20px;
}
.usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.usuario span{
    font-family: 'Roboto' !important;
    font-size: 20px;
    margin-left: 10px !important;
}
.busqueda{
    height: 34px;
  
    background: #FEFEFE;
    border-radius: 12px;
    margin-bottom:6px ;
    width: 228px;
    height: 25px;
}
.menu{
    display: none;
}
.fa-search{
    display: none;
    color: white;  
}
.fa-user-cog{
    color: white;
    margin-top: 10px;
    margin-left: 25px;
}
hr{
    height: 0px;
    width: 85%;
    margin-left: 18px;
    color: rgb(236, 235, 235);
}
.headerOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
}
.imgUser2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.barraDeBusqueda{
    margin-left: 25px;
    display: flex;
    width: 30%;
    flex-direction: column;
}
details{
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: baseline;
    border-bottom: 1px grey solid;
}
details summary{
    color: white;
    background-color: #31B669;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    background-color: #f0f2f2;
}
ol{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: #f0f2f2;
    padding: 8px;
}
li{ 
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
}
li input{
    background: #FEFEFE;
    border-radius: 12px;
    margin-bottom:6px ;
    width: 100%;
    height: 25px;

}
.btn {
    width: 84px;
    height: 24px;
    border: none;
    background: #AF1281;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.resultados{
    width:40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: #f2f0f0 1px solid;
    border-right: #f2f0f0 1px solid;
}
.resultado .profile{
    min-width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.resultado {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;
}
.resultado:hover{
    background-color: #f2f0f0;
}
.imgSearch{
    margin-left: 25px;
    margin-right: 12px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
h1{
    text-align: center;
    width: 100%;
    color:rgb(180, 179, 179);;
    font-weight: normal;
    padding-bottom: 15px;
}
h2{
    text-align: center;
    width: 100%;
    color:rgb(180, 179, 179);;
    font-weight: normal;
    padding-bottom: 15px;
}
h3{
    text-align: center;
    width: 100%;
}
.profile .detailsUser{
    width: 100%;
    color: green;
}
.profile span{
    min-width: max-content;

}
.timeShare{
    margin-left: 8px;
}
.historial{
    width: 20%;
}
