*{
    margin: 0;
    padding: 0;
}
.containerPage{
    width: 100%;
    display:flex;
    justify-content: center;
}
.container{
    width: 1440px;
}
.encabezado{
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    height: 70px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 48.6076px;
    color: #FFFFFF;
}
.busqueda{
    border:none;
    border-radius: 8px;
    height: 34px;
    width: 228px;
    margin-top:18px;
}
.usuario{
    display: flex;
    flex-direction: row;

    height: 70px;
    align-items: center;
    padding-right: 33px;
    border-right: 1px solid white;
}
.nameUser{
    width: 80px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    line-height: 23px;
    color: #FFFFFF;
}
.imgUser{
    width: 58px;
    height: 58px;
    margin-left: 18px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
}

@media (max-width: 800px) {
    .nameUserShare{
        font-size: 20px;
    }
    .timeShare{
        color: #C4C4C4;
        margin-left: 5px;
    }
    .detailsUser{
        color: #2BC26B;
    }
    .imgUser2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border:1px solid black;
        margin-right: 8px;
    }
    .encabezado{
        position: fixed;
        z-index: 30;
        height: 50px;
    }
    nav{
        position: fixed;
        top:49px;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
        z-index: 30;
        width: 100%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    nav ul{
        display: flex;
        list-style: none;
    }
    nav ul li{
        color: white;
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: 32px;
        padding: 4px;
    }
    nav ul li span{
        display:none;
    }
    .select{
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        color: #AF1281;
        border-bottom: 5px solid #AF1281;
    }
    .feed{
        width: 100%;
        position: absolute;
        top: 92px;
    }
    .publicacion{
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
   
    .spaceText{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F2F0F0;
        width: 100%;
    }
    i {
        font-size: 22px;
        margin: 8px;
    }
     .publicacion2{
        margin-top: 8px;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .profile{
        width:70%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .textArea{
        width: 80%;
        margin-top: 8px;
        margin-left: 42px;
    }
    .publicacion2 section{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .galeria{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .galeria img{
        width: 32%!important;
    }
    .publicacion2 section img{
        width: 100%;
        margin:2px;
    }
    .reacciones{
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
    }
  }
  .publicacion2{
    margin-top: 8px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.profile{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.textArea{
    width: 80%;
    margin-top: 8px;
    margin-left: 42px;
}
.publicacion2 section{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.galeria{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.galeria img{
    width: 33%!important;
}
.publicacion2 section img{
    width: 100%;
    margin:2px;
}
.reacciones{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
}i {
    font-size: 22px;
    margin: 8px;
}
.nameUserShare{
    font-size: 20px;
}
.timeShare{
    color: #C4C4C4;
    margin-left: 5px;
}
.detailsUser{
    color: #2BC26B;
}