*{
    margin: 0;
    padding: 0;
}

i { 
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin: 8px;
}
@media (max-width: 2000px){/*Esta Media Query se ejecutará sólo cuando la anchura de la ventana del navegador sea menor de 2000 píxeles.*/
    
    .loader {
        display: block;
        border: 16px solid #f3f3f3; 
        border-bottom: 16px solid #AF1281;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        position: fixed;
        left: 46%;
        top: 40%;
        z-index: 1;
        transition: all 1000ms ease;
      }
      
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    
    .container{
        display: none;
        opacity: 0;
    }
   
    
    body{
        width: 99vw;
        display:flex;
        justify-content: center;
        font-family: 'Roboto';
    }
     
    .container{
        width: 1440px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    header{
        position: sticky;
        top: 0px;
        z-index: 1;
        width:100% !important;
        height: 70px;
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
    }
    header span{
        font-family:'Baloo Chettan' !important;   
        font-style: normal;
        font-weight: normal;
        font-size: 48.6076px;
        line-height: 70px;
        text-align: center;
        color: white; 
        margin-left: 15px;
        margin-right: 20px;
    }
    .usuario{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 15px;
    }
    .usuario span{
        font-family: 'Roboto' !important;
        font-size: 20px;
        margin-left: 10px !important;
    }
    .usuario input{
        display: none;
    }
    .desplegable{
        position: absolute;
        top:70px;
        right: 200%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: right;
        background: #2BC26B 80.87%;

    }
    .desplegable li{
        padding: 8px;
    }
    .desplegable li:hover{
        background:rgb(0, 0, 0, 0.2);
        padding: 8px;
    }
    #dropDown:checked ~ .desplegable{
        right: 0px;
    }
    .busqueda{
        background: #FEFEFE;
        border-radius: 12px;
        margin-bottom:6px ;
        width: 228px;
        height: 25px;
    }
    .menu{
        display: none;
    }
    .fa-search{
        display: none;
        color: white;  
    }
    .fa-user-cog{
        color: white;
        margin-top: 10px;
        margin-left: 25px;
    }
    hr{
        height: 0px;
        width: 85%;
        margin-left: 18px;
        color: rgb(236, 235, 235);
    }
    .headerOptions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
    }  
    nav{
        position: fixed;
        top: 73px;
        z-index: 1;
        width: 292px;
    }
    nav ul{
        list-style: none;
        border-bottom: #C4C4C4 1px solid;
        margin: 23px; 
    }
    nav ul li{
        text-align: baseline;
        border-bottom: 1px solid white;
    }

    nav ul li span{
        margin-left: 5px;
    }
    .select{
        color: #AF1281;
        border-bottom: 5px solid #AF1281;
    }
    .recomendaciones{
        display: block;
        margin: 23px; 
        text-align: center;
   
    }
    .recomendaciones h4{
        color:rgb(197, 194, 194);
        margin-bottom: 20px;
        font-weight: normal;
    }
   .publi{
    display: block;
    margin: 23px; 
    text-align: center;

   }

    .optionRecom{
        margin-top:11px;
        margin-bottom: 11px;
        display:flex;
        align-items: center;  
        justify-content: space-around;
    }
    .optionRecom span{
        display: flex;
        align-items: center;
        margin-right: 8px;
    }
    .optionRecom .imgUser2{
        margin-right: 3px;
    }

    .optionRecom input{
        width: 84px;
        height: 24px;
        border: none;
        background: #AF1281;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        color: white;
    }
    .optionRecom:hover {
        background-color: green;
    }
    .feedGeneral{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:1000px;
        position:relative;
        bottom: 0px;
        top:0px;
        left: 400px;
    }
    .feed{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 656px;
        position:relative;
        bottom: 0px;
        top:0px;
    }
    .publicacion{
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .placeText{
        width: 100%;
        display: flex;
        padding: 8px;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
   .publicacion input{
    background: white;
    border-radius: 20px;
    margin-left:8px;
    width: 85%;
    height: 30px;
    }
    .imgUser2{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .spaceText{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F2F0F0;
        width: 100%;
    }
     .publicacion2{
        margin-top: 8px;
        width:unset;
        display: flex;
        flex-wrap: wrap;
        padding: 23px;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .profile{
        width:70%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .textArea{
        width: 80%;
        margin-top: 8px;
        margin-left: 42px;
    }
    .fa-paper-plane{
        color:#AF1281; 
    }
    .publicacion2 section{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .galeria{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .galeria img{
        width: 32%!important;
    }
    .publicacion2 section img{
        width: 100%;
        margin:2px;
    }
    .reacciones{
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
        margin-top: 5px;
    }
    .reacciones p{
            font-family: 'Roboto';
            margin-top: 10px;
            margin-right: 10px;
    }
    #like{
        cursor: pointer;
    }
    #like:hover {
        color: #AF1281;
      }
    .fa-heart{
    color: #AF1281;
 }
    .profile{
        display: inline;
        margin-left: 10px;
        
    }

    .fa-ellipsis-v:before{
        margin-left: 110px;   
    }
    .timeShare{
        color: rgb(197, 194, 194);
        margin-left: 5px;
    }
    .detailsUser{
        color: #2BC26B;
    }
    .chat{
        position:fixed;
        right: 300px;
        bottom: -577px;
        width: 238px;
        height: 620px;
    }
    .chatHead{
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        width: 100%;
        height: 43px;
        background: #AF1281;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chatHead input{
        display: none;
    }
    .chatList span{
        display: flex;
        align-items: center;
        margin: 8px;
    }

    .chatList input{
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        margin: 8px;
        background: #F0FFF4;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5.63314px 5.63314px 0px 0px;
    }
    #chatCheck:checked ~ .chat{
        bottom: 0px;
    }
    .calendar{
        display: block;
    }
    .calendario{
        border:solid red;
        width: 300px;      
    }
} 
@media (max-width: 768px) {/*Esta Media Query se ejecutará sólo cuando la anchura de la ventana del navegador sea menor de 768 píxeles.*/
    
    .loader {
        display: block;
        border: 16px solid #f3f3f3; 
        border-bottom: 16px solid #AF1281;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        position: fixed;
        left: 38%;
        top: 20%;
        z-index: 1;
        transition: all 1000ms ease;
      }

    header{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:  stretch;
        position: fixed;
        z-index: 30;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
    }
    header span{
        font-family:'Baloo Chettan' !important;
        font-size: 32px;
        text-align: center;
        color: white; 
        margin-left: 42px;
    }
    .headerOptions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
        color:white;
        margin-right: 10px;
        margin-left: 5px;
    }
    .menu{
        display: block;
    }
    .desplegable{
        height: 100vh;
        width: 100vw;
        left: -100vw;
        position: absolute;
        z-index: 36;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
    }
    #btn-menu{
        display: none;
    }
    #btn-menu:checked ~ .desplegable {
        left: 0;
    }
    .desplegable ul{
        margin-top:23px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .desplegable ul li{
        border-bottom: 1px white solid;
        padding: 8px;
        margin-left: 16px;
    }
    .desplegable ul li a{
        text-decoration: none;
        color: white;
    }
    .out{
        border-bottom: 1px white solid;
        padding: 8px;
        margin-left: 16px;
        background-color: #AF1281;
    
    }
    .busqueda{
        display: none;
    }
    .usuario{
        display: none;
    }
    .nameUserShare{
        font-size: 20px;
    }
    .timeShare{
        color: #C4C4C4;
        margin-left: 5px;
    }
    .detailsUser{
        color: #2BC26B;
    }
    .imgUser2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border:1px solid #C4C4C4 ;
        margin-right: 8px;
        margin-left: 5px;
        margin-top: 12px;
        object-fit: cover;
    }
    .encabezado{
        position: fixed;
        z-index: 30;
        height: 50px;
    }
    nav{
        position: fixed;
        top:49px;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
        z-index: 15;
        width: 100%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        margin:0px;
    }
    nav ul{
        display: flex;
        list-style: none;
        margin:0px;
    }
    nav ul li{
        color: white;
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: 32px;
        padding: 4px;
       
    }
    nav ul li span{
        display:none;
    }
    .recomendaciones{
        display:none;
    }
    .select{
        color: #AF1281;
        border-bottom: 5px solid #AF1281;
    }

    .feedGeneral{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        position:relative;
        bottom: 0px;
        top:0px;
        left: 0px;
    }
    .feed{
        left: 0px;
        width: 100%;
        position: absolute;
        top: 92px;
        justify-content: stretch;
    }
    .calendar{
        display: none;
    }
    .publicacion{
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
   .publicacion input{
    background: white;
    border-radius: 20px;
    border-color: #F2F0F0;
    width: 85%;
    margin-top: 12px;
    height: 30px;
   }
    .spaceText{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F2F0F0;
        margin-top: 12px;
        width: 100%;
        color: #192A56;    
    }
    .fa-ellipsis-v:before{
        margin-left: 40px;   
    }
    .fa-paper-plane{
        color:#AF1281; 
    }
     .publicacion2{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        padding-top: 8px;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .profile{
        width:70%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .textArea{
        width: 80%;
        margin-top: 8px;
        margin-left: 42px;
    }
    .publicacion2 section{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .galeria{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .galeria img{
        width: 32%!important;
      
    }
    .publicacion2 section img{
        width: 100%;
        margin:2px;
     
    }
    .reacciones{
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
    }
    p{
        font-family: 'Roboto';
        margin-top: 10px;
        margin-right: 10px;
    }
    .chat{
        display:none;
  }
}