*{
    margin: 0;
    padding: 0;
}

i {
    font-size: 22px;
    margin: 8px;
}
@media (max-width: 2000px){/*Esta Media Query se ejecutará sólo cuando la anchura de la ventana del navegador sea menor de 2000 píxeles.*/
    body{
        width: 100vw;
        display:flex;
        justify-content: center;
    }
    .container{
        border: 1px solid ;
        width: 1440px;
        display: flex;
        flex-wrap: wrap;
    }
    header{
        width:100%!important;
        height: 50px;
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
    }
    .menu{
        display: none;
    }
    .fa-search{
        display: none;
    }
    .headerOptions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
    }  
    nav{
        width: 292px;
        border-bottom: #C4C4C4 1px solid;
    }
    nav ul{
        list-style: none;
    }
    nav ul li{
        border-bottom: 1px solid white;
    }
    .feed{
        width: 656px;
    }
    .publicacion{
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
   
    .spaceText{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F2F0F0;
        width: 100%;
    }
     .publicacion2{
        margin-top: 8px;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .profile{
        width:70%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .textArea{
        width: 80%;
        margin-top: 8px;
        margin-left: 42px;
    }
   
    .publicacion2 section{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .galeria{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .galeria img{
        width: 32%!important;
    }
    .publicacion2 section img{
        width: 100%;
        margin:2px;
    }
    .reacciones{
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
    }
} 
@media (max-width: 768px) {/*Esta Media Query se ejecutará sólo cuando la anchura de la ventana del navegador sea menor de 768 píxeles.*/
    header{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:  stretch;
        position: fixed;
        z-index: 30;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
    }
    header span{
        font-family:'Baloo Chettan' !important;
        font-size: 32px;
        text-align: center;
        color: white; 
        margin-left: 10px;
    }
    .headerOptions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
        color:white;
        margin-right: 10px;
        margin-left: 5px;
    }
    .menu{
        display: block;
    }
    .desplegable{
        height: 100vh;
        width: 100vw;
        left: -100vw;
        position: absolute;
        z-index: 36;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
    }
    #btn-menu{
        display: none;
    }
    #btn-menu:checked ~ .desplegable {
        left: 0;
    }
    .desplegable ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .desplegable ul li{
        border-bottom: 1px white solid;
        padding: 8px;
        margin-left: 16px;
    }
    .out{
        border-bottom: 1px white solid;
        padding: 8px;
        margin-left: 16px;
        background-color: #AF1281;
    }
    .busqueda{
        display: none;
    }
    .usuario{
        display: none;
    }
    .nameUserShare{
        font-size: 20px;
    }
    .timeShare{
        color: #C4C4C4;
        margin-left: 5px;
    }
    .detailsUser{
        color: #2BC26B;
    }
    .imgUser2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border:1px solid #C4C4C4 ;
        margin-right: 8px;
        margin-left: 5px;
        margin-top: 12px;
        object-fit: cover;
    }
    .encabezado{
        position: fixed;
        z-index: 30;
        height: 50px;
    }
    nav{
        position: fixed;
        top:49px;
        background: linear-gradient(90deg, #27AE60 43.49%, #2BC26B 80.87%);
        z-index: 15;
        width: 100%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    nav ul{
        display: flex;
        list-style: none;
    }
    nav ul li{
        color: white;
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: 32px;
        padding: 4px;
       
    }
    nav ul li span{
        display:none;
    }
    .select{
        color: #AF1281;
        border-bottom: 5px solid #AF1281;
    }
    .feed{
        width: 100%;
        position: absolute;
        top: 92px;
    }
    .publicacion{
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
   .publicacion input{
    background: white;
    border-radius: 20px;
    border-color: #F2F0F0;
    width: 85%;
    margin-top: 12px;
    height: 30px;
   }
    .spaceText{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F2F0F0;
        margin-top: 12px;
        width: 100%;
        color: #192A56;    
    }
   
    .far{
        color:#AF1281; 
    }
     .publicacion2{
        margin-top: 8px;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .profile{
        width:70%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .textArea{
        width: 80%;
        margin-top: 8px;
        margin-left: 42px;
    }
    .publicacion2 section{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .galeria{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .galeria img{
        width: 32%!important;
    }
    .publicacion2 section img{
        width: 100%;
        margin:2px;
    }
    .reacciones{
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
    }
  }
